<div fxFlex fxLayout="column">
    <div fxLayout="row wrap">
        <!--No nosso flex Layout dividimos o tamanho da coluna (100px) por 25 cada
          vai ocupar 3   direção dele é coluna
    -->
        <div fxFlex="25" fxFlex.md="33" fxFle.sm="50" fxFlex.xs="100" fxLayout="column" *ngFor="let character  of allCharacters | async" style="padding: 15px">

               <!--Passando informação de um componente para o outro usando o input decorator, com base no
            character que esta sendo passado no ngFor-->
           <!-- usar quando terminar o serviço
                <app-search-character-form [search]="search"></app-search-character-form> -->
            
            <!--Passando informação de um componente para o outro usando o input decorator, com base no
            character que esta sendo passado no ngFor-->
            <app-character [character]="character"></app-character>

        </div>
    </div>
</div>